@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?19436410');
  src: url('/fonts/fontello.eot?19436410#iefix') format('embedded-opentype'),
       url('/fonts/fontello.woff?19436410') format('woff'),
       url('/fonts/fontello.ttf?19436410') format('truetype'),
       url('/fonts/fontello.svg?19436410#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}

html, body, #__next{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  color: #CCC;
  letter-spacing: .7px;
  line-height: 1.5;
  font-size: 16px;
  font-family: monospace;
  background: #222 url(/images/bg.jpg) no-repeat center;
  background-size: cover;
  animation: fadein 2s ease-in-out;
}

a {
  color: #CCC;
  text-decoration: none;
  transition: color .5s ease;
}

a:hover {
  color: #F04F52;
}
